* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inputs--select{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 5px;
}
.inputs--inputs{
    font-size: small;
    margin-top: 45px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.inputs--inputs label{
    margin: auto;
}

.inputs--inputs #post-college{
   margin-left: 14px;
}
.inputs--inputs #not-deployed{
    margin-left: 8px;
}