* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #282D35;
    color: white;
}
/*Header styles*/

.header--nav{
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #21222A;
    height: 100%;
    overflow-x: hidden;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
li{
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 0.5rem ;
    color:  white;
    background-color:#282D35;
    transition: all 0.3s linear;
    cursor: pointer;
    border-radius: 12px;
    scale: 0.9;
}
li:hover{
    padding-left: 1.75rem;
}
.header--nav-img{
    margin-right: 10px;
    width: 25px;
    justify-self: center;
    background-color: #282D35;
}
@media screen and (max-width: 768px) {
    .header--nav {
        width: 15%; /* Adjust width for better responsiveness on smaller screens */
    }

    .header-text {
        padding-left: 1.5rem; /* Adjust font size for better readability on smaller screens */
    }
}
/*Main styles styles*/
.main--content{
    margin-left: 16%;
    margin-top: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-bottom: 15px;
   
}
.main--links{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    object-fit: contain;
    min-height: 270px;
}
a{
    margin-left: 10px;
    margin-right: 10px;
}
.main--img{
    max-width: 30px;
    transition: transform 0.5s ease;
}
.main--img:hover{
    transform: scale(1.2);
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    font-size: small;
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
    .main--content {
        height: 150vh;
    }

}
.inputs--select{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 5px;
}
.inputs--inputs{
    font-size: small;
    margin-top: 55px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;

}

.inputs--inputs label{
    margin: auto;
}

.inputs--inputs #post-college{
   margin-left: 14px;
}
.inputs--inputs #not-deployed{
    margin-left: 8px;
}
/*About Styles */
.about-div{
    margin-left: 13%;
}
.about-text{
    font-size: larger;
    text-align: justify;
    margin-right: auto;
    width: 75%;
    height: 50vh;
    margin-left: 13%;
    margin-top: 15px;
    line-height: 1.5;
}
.about-college{
    text-decoration: none;
    scale: 1;
    transition: all 0.5s ease;
    color: #0078D4;
}
.about-college:hover{
    color: #D2DE38;
}
.about--links{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 40vh;
}
.about--img{
    scale: 1;
    margin: 30px;
    transition: transform 0.5s ease;
}
.about--img:hover{
    transform: scale(1.4);
}
@media screen and (max-width: 768px) {
    .about--links {
        height: 200vh;
    }

    .about--img {
        margin: 10; /* Increase margin for better spacing */
    }
}

/*Contact styles */
.contact-div{
    margin-left: 13%;
}
.contact{
    margin-top: 25px;
    text-align: center;
}
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
}
.email-container, .phone-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email-img, .phone-img{
    scale: 1;
    margin: 30px;
}
.email, .phone{
    text-decoration: none;
    transition: all 0.5s ease;
}
.email:hover, .phone:hover{
    transform: scale(1.3);
    color: rgb(0, 89, 255);
}
/*Footer styles */
.footer{
    width: 73%;
    margin-left: 20%;
    text-align: center;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0;   
}
@media screen and (max-width: 768px) {
    .footer {
        position: fixed;
        width: 75%;
        bottom: 0;
        font-size: x-small;
    }
}